body {
	line-height: 1.2;
	margin: 2% 10% 2% 10%;
}

.header {
	text-align: center;
	font-size: 26px;
}

.myicon {
	width: 120;
	float:right;
}

.sectiontitle {
	font-size: 22px;
	font-weight: bold;
}

.sectioncontent {
	font-size: 20px;
	font-weight: normal;
	margin-left: 20px;
}

.date {
	font-size: 16px;
	font-style: italic;
}

.email {
	font-size: 16px;
	font-family: Times New Roman;
}

.appicon {
	width: 60;
}