body {
	line-height: 1.5;
	margin: 2% 10% 2% 10%;
	font-family: Arial;
}

.header {
	text-align: center;
	font-size: 22px;
}

.myicon {
	width: 100;
	float:right;
}

.sectiontitle {
	font-size: 18px;
	font-weight: bold;
}

.sectioncontent {
	font-size: 16px;
	font-weight: normal;
	margin-left: 20px;
}

.date {
	font-size: 14px;
	font-style: italic;
}

.email {
	font-size: 12px;
}

.appicon {
	width: 40;
}

.new{
	height: 20px;
	widows: 40px;
}

.author{
	color:#080808;
	margin-left: 20px;
}

.venue{
	color:#080808;
	margin-left: 20px;
	font-style: italic;
}

.article{
	color:#000000;
	margin-left: 20px;
	font-weight: bold;
}

.image{
	height: 40px;
	width:40px;
}